{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">👨‍🎓 All Students</h2>

    <!-- Search -->
    <form method="GET" class="mb-4">
        <div class="input-group">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search name, roll number, email or branch..."
                value="{{ search or '' }}"
            >

            <button type="submit" class="btn btn-primary">
                🔍 Search
            </button>

            <a href="{{ url_for('view_students') }}"
               class="btn btn-secondary">
                Clear
            </a>

        </div>
    </form>

    <table class="table table-bordered table-hover shadow">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Roll Number</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Branch</th>
                <th>CGPA</th>
                <th>Skills</th>
            </tr>
        </thead>

        <tbody>

            {% for student in students %}

            <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.full_name }}</td>
                <td>{{ student.roll_number }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.branch }}</td>
                <td>{{ student.cgpa }}</td>
                <td>{{ student.skills }}</td>
            </tr>

            {% else %}

            <tr>
                <td colspan="8" class="text-center">
                    No students found.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}